<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>300393022724-rep9rlge6o94muivh3oeporgqgmpuorg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.300393022724-rep9rlge6o94muivh3oeporgqgmpuorg</string>
	<key>API_KEY</key>
	<string>AIzaSyAdX-1ERoK67K_I_Gra-A-mhUJ7wvjUkok</string>
	<key>GCM_SENDER_ID</key>
	<string>300393022724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cuehq.app</string>
	<key>PROJECT_ID</key>
	<string>cue-hq</string>
	<key>STORAGE_BUCKET</key>
	<string>cue-hq.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300393022724:ios:5255de72cfe8739b38bc51</string>
</dict>
</plist>